#navbar {
  background-color: #CCC;
}

#navbar .container-fixed {
  margin: 0 auto;
  border-bottom: 3px solid #FFF;
  padding-top: 10px;
}

#tour-links {
  padding-top: 20px;
  margin-bottom: 30px;
}

#tour-links li {
  list-style-type: none;
  border-bottom: 1px solid #999;
  padding: 1px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}
#tour-links li:last-child { border-bottom: none; }

#navbar .description {
  padding: 20px;
  line-height: 18px;
}

#navbar .btn.current {
  cursor: default;
  color:#666;
}

.start-tour {
  border-radius: 6px;
  border: 1px solid #015BA2;
  padding: 5px;
  color: #FFF;
  background-color: #015BA2;
}

.start-tour:hover {
  background-color: #003f71;
  border: 1px solid #003f71;
}

#restart-tour-button {
  display: none;
  background-color: #015BA2;
  color: #FFF;
}

#btn-container {
  text-align: center;
}



#start-tour-button {
  background-color: #015BA2;
  color: #FFF;
}
