/*@import "library/links";
@import "library/lists";*/
/******************************
POWDER BLUE: 
Used in page title headers
******************************/
/******************************
DARK BLUE: 
Small stack and border color
******************************/
/******************************
GOLDEN: 
Used for border of nav
******************************/
/* link hovers, etc */
/******************************
body_type_color: 
The base color for all the text 
******************************/
/******************************
CUSTOMIZATIONS TO TIPSY
******************************/
/* line 4, ../../app/stylesheets/library/_tipsy.scss */
.tipsy {
  font-size: 13px;
}

/* line 1, ../../app/stylesheets/library/_tipsy_popover.scss */
#indexes.year_agency .tipsy.popover .tipsy-inner {
  padding: 3px;
  width: 580px;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #000;
  font-size: 1.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* line 19, ../../app/stylesheets/library/_tipsy_popover.scss */
.popover-title {
  font-size: 16px;
  padding: 9px 15px;
  line-height: 1;
  background-color: whiteSmoke;
  border-bottom: 1px solid #EEE;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 29, ../../app/stylesheets/library/_tipsy_popover.scss */
.popover-content {
  padding: 14px;
  background-color: white;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 39, ../../app/stylesheets/library/_tipsy_popover.scss */
.popover-content dl {
  margin: 0;
  font-size: 14px;
  overflow: hidden;
}
/* line 44, ../../app/stylesheets/library/_tipsy_popover.scss */
.popover-content dl dt {
  text-align: right;
  width: 60px;
  float: left;
  clear: both;
  margin-bottom: 10px;
}
/* line 51, ../../app/stylesheets/library/_tipsy_popover.scss */
.popover-content dl dd {
  margin-bottom: 10px;
  text-align: left;
  width: 175px;
  float: left;
}
/* line 59, ../../app/stylesheets/library/_tipsy_popover.scss */
.popover-content .loading {
  padding-left: 20px;
  background: white url('/images/ajax-loader.gif?1372268315') no-repeat 80px 1px;
}

/* line 65, ../../app/stylesheets/library/_tipsy_popover.scss */
.admin .popover-content .loading {
  padding-left: 30px;
  background: white url('/images/ajax-loader.gif?1372268315') no-repeat 70px 1px;
}

/******************************

GENERAL

******************************/
/* line 10, ../../app/stylesheets/ie6.scss */
#main {
  margin: 0 auto;
  width: 960px;
}

/* turn off the icons */
/* line 16, ../../app/stylesheets/ie6.scss */
#main .external {
  background-image: none;
  padding-left: 0;
}

/* line 20, ../../app/stylesheets/ie6.scss */
.row {
  clear: both;
}

/* line 23, ../../app/stylesheets/ie6.scss */
#sections #main .article {
  border-bottom: none;
}

/* line 28, ../../app/stylesheets/ie6.scss */
.metadata_share_bar,
.font_control_wrapper,
.aside_box {
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.metadata_share_bar,
.font_control_wrapper,
.aside_box {
  display: block;
}

/* line 34, ../../app/stylesheets/ie6.scss */
.titlebar,
.filters li,
.search_info,
.matching_citation {
  zoom: 1;
}

/* line 38, ../../app/stylesheets/ie6.scss */
#top_news_promo .aside_box {
  width: 625px;
}

/******************************

HEADER

******************************/
/* line 45, ../../app/stylesheets/ie6.scss */
#header #search {
  background: #b7c8cc url('/images/icons/ie6/search_bg_wide.png?1373320762') no-repeat left 2px;
}

/* line 48, ../../app/stylesheets/ie6.scss */
#header #search .search_btn {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/icons/header_search_button.png', sizingMethod='image');
}

/* line 52, ../../app/stylesheets/ie6.scss */
#search label {
  display: none;
}

/******************************

HEADER

******************************/
/* line 61, ../../app/stylesheets/ie6.scss */
#navigation .previewable .subnav {
  width: 630px;
}

/* line 62, ../../app/stylesheets/ie6.scss */
#navigation .preview #carousel_wrapper {
  margin-right: 0px;
}

/* line 63, ../../app/stylesheets/ie6.scss */
#navigation .preview .daily_stats li {
  width: 182px;
}

/******************************

HOMEPAGE

******************************/
/* line 72, ../../app/stylesheets/ie6.scss */
#tools .celebrating {
  background: url('/images/icons/ie6/celebrating_75.png?1373320762') no-repeat;
}

/* line 75, ../../app/stylesheets/ie6.scss */
#slideshow .stats {
  display: none;
}

/* line 78, ../../app/stylesheets/ie6.scss */
#current_issue {
  background: #d7e5c2 url('/images/icons/ie6/current_issue.png?1373320762') no-repeat;
}

/* line 81, ../../app/stylesheets/ie6.scss */
#current_issue.error {
  background: #fcf7f7 url('/images/icons/ie6/current_issue_error.png?1373320762') no-repeat left 1px;
}

/* line 84, ../../app/stylesheets/ie6.scss */
#popular {
  background: url('/images/icons/ie6/icon_whats_hot.png?1373320762') no-repeat 30px 15px;
}

/* line 87, ../../app/stylesheets/ie6.scss */
.home #agency_highlight.with_icon .header_with_icon {
  background: url('/images/icons/ie6/icon_highlighted_opportunity.png?1373320762') no-repeat 20px 50px;
}

/* line 90, ../../app/stylesheets/ie6.scss */
.home #fr_movie.with_icon .header_with_icon {
  background: url('/images/icons/ie6/icon_movie.png?1373320762') no-repeat 0 10px;
}

/* line 93, ../../app/stylesheets/ie6.scss */
.home #tools {
  background: url('/images/icons/ie6/tools_of_fr2.png?1373320762') no-repeat 25px 0;
}

/* line 96, ../../app/stylesheets/ie6.scss */
#slideshow .container .news_content {
  height: 318px;
  position: relative;
  width: 423px;
}

/* line 101, ../../app/stylesheets/ie6.scss */
.home #top_news_promo ul.section_nav li {
  background-image: none;
  width: 190px;
}

/* line 105, ../../app/stylesheets/ie6.scss */
.home #top_news_promo ul.section_nav li a {
  line-height: 1;
}

/* line 108, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.money a {
  background: url('/images/icons/ie6/icon_money_50.png?1373320762') no-repeat 5px 5px;
}

/* line 109, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.environment a {
  background: url('/images/icons/ie6/icon_environment_50.png?1373320762') no-repeat 5px 5px;
}

/* line 110, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.world a {
  background: url('/images/icons/ie6/icon_world_50.png?1373320762') no-repeat 5px 5px;
}

/* line 111, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.science-and-technology a {
  background: url('/images/icons/ie6/icon_science_50.png?1373320762') no-repeat 5px 5px;
}

/* line 112, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.business-and-industry a {
  background: url('/images/icons/ie6/icon_business_50.png?1373320762') no-repeat 5px 5px;
}

/* line 113, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.health-and-public-welfare a {
  background: url('/images/icons/ie6/icon_health_50.png?1373320762') no-repeat 10px 5px;
}

/* line 114, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.one_word a {
  line-height: 31px;
}

/* line 115, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.on {
  background-color: none;
  background: url('/images/ie6/promo_nav_bg_on_new.png') no-repeat right top;
}

/* line 119, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.on a {
  background-image: none;
}

/* line 122, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.money.on a {
  background: #e4a529 url('/images/icons/ie6/icon_money_nav_on.png?1373320762') no-repeat 5px 5px;
}

/* line 123, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.environment.on a {
  background: #e4a529 url('/images/icons/ie6/icon_environment_nav_on.png?1373320762') no-repeat 5px 5px;
}

/* line 124, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.world.on a {
  background: #e4a529 url('/images/icons/ie6/icon_world_nav_on.png?1373320762') no-repeat 5px 5px;
}

/* line 125, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.science-and-technology.on a {
  background: #e4a529 url('/images/icons/ie6/icon_science_nav_on.png?1373320762') no-repeat 5px 5px;
}

/* line 126, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.business-and-industry.on a {
  background: #e4a529 url('/images/icons/ie6/icon_business_nav_on.png?1373320762') no-repeat 5px 5px;
}

/* line 127, ../../app/stylesheets/ie6.scss */
#top_news_promo ul.section_nav li.health-and-public-welfare.on a {
  background: #e4a529 url('/images/icons/ie6/icon_health_nav_on.png?1373320762') no-repeat 5px 5px;
}

/* line 129, ../../app/stylesheets/ie6.scss */
.home #learn.with_icon .header_with_icon {
  background: url('/images/icons/ie6/whats_in_fr.png?1373320762') no-repeat 0 0;
  padding-top: 10px;
  zoom: 1;
}

/* line 135, ../../app/stylesheets/ie6.scss */
#special .fr_section.money {
  background: url('/images/icons/ie6/icon_money.png?1373320762') no-repeat 10px 0;
}

/* line 136, ../../app/stylesheets/ie6.scss */
#special .fr_section.environment {
  background: url('/images/icons/ie6/icon_environment.png?1373320762') no-repeat 10px 0;
}

/* line 137, ../../app/stylesheets/ie6.scss */
#special .fr_section.world {
  background: url('/images/icons/ie6/icon_world.png?1373320762') no-repeat 10px 0;
}

/* line 138, ../../app/stylesheets/ie6.scss */
#special .fr_section.science-and-technology {
  background: url('/images/icons/ie6/icon_science.png?1373320762') no-repeat 10px 0;
}

/* line 139, ../../app/stylesheets/ie6.scss */
#special .fr_section.business-and-industry {
  background: url('/images/icons/ie6/icon_business.png?1373320762') no-repeat 10px 0;
}

/* line 140, ../../app/stylesheets/ie6.scss */
#special .fr_section.health-and-public-welfare {
  background: url('/images/icons/ie6/icon_health.png?1373320762') no-repeat 18px 0;
}

/******************************

GENERAL PAGE ITEMS

******************************/
/* line 151, ../../app/stylesheets/ie6.scss */
.agency_list_info .article_count,
.search_info .article_count {
  display: inline;
}

/* line 156, ../../app/stylesheets/ie6.scss */
.agency_list_info .actions,
.search_info .actions,
.search_bar {
  top: 0;
}

/* line 160, ../../app/stylesheets/ie6.scss */
#main #content_area,
#main #sidebar {
  margin: 0;
}

/* line 163, ../../app/stylesheets/ie6.scss */
#comments-closing-opening .header-nav {
  display: none;
}

/* line 166, ../../app/stylesheets/ie6.scss */
#comments-closing-opening.active .header-nav {
  border-top: 3px solid #3f5b75;
  display: block;
  position: relative;
}

/* line 171, ../../app/stylesheets/ie6.scss */
#comments-closing-opening .three_col_list .date {
  clear: both;
}

/* line 175, ../../app/stylesheets/ie6.scss */
#disclaimer h1,
#tools .disclaimer {
  background: url('/images/icons/ie6/disclaimer.png?1373320762') no-repeat left top;
}

/* line 178, ../../app/stylesheets/ie6.scss */
#news .disclaimer {
  float: left;
}

/* line 181, ../../app/stylesheets/ie6.scss */
.button.format.pdf {
  background: url('/images/icons/ie6/icon_pdf.png?1373320762') no-repeat left top;
}

/* line 182, ../../app/stylesheets/ie6.scss */
.button.format.pdf.small {
  background: url('/images/icons/ie6/icon_pdf_small.png?1373320762') no-repeat left top;
}

/* line 183, ../../app/stylesheets/ie6.scss */
.button.format.xml {
  background: url('/images/icons/ie6/icon_xml.png?1373320762') no-repeat left top;
}

/* line 184, ../../app/stylesheets/ie6.scss */
.button.format.print {
  background: url('/images/icons/ie6/icon_print.png?1373320762') no-repeat;
}

/* line 185, ../../app/stylesheets/ie6.scss */
.button.format.print:hover {
  background: url('/images/icons/ie6/icon_print_on.png?1373320762') no-repeat;
}

/* line 186, ../../app/stylesheets/ie6.scss */
.citation_box li.twitter {
  background: url('/images/icons/ie6/icon_twitter.png?1373320762') no-repeat;
}

/* line 187, ../../app/stylesheets/ie6.scss */
.citation_box li.facebook {
  background: url('/images/icons/ie6/icon_facebook.png?1373320762') no-repeat;
}

/* line 188, ../../app/stylesheets/ie6.scss */
.citation_box li.digg {
  background: url('/images/icons/ie6/icon_digg.png?1373320762') no-repeat;
}

/* line 189, ../../app/stylesheets/ie6.scss */
.citation_box li.cite_volume {
  background: url('/images/icons/ie6/icon_volume.png?1373320762') no-repeat;
}

/* line 190, ../../app/stylesheets/ie6.scss */
.citation_box li.cite_page {
  background: url('/images/icons/ie6/icon_page.png?1373320762') no-repeat;
}

/* line 191, ../../app/stylesheets/ie6.scss */
.citation_box li.link {
  background: url('/images/icons/ie6/icon_link.png?1373320762') no-repeat;
}

/* line 192, ../../app/stylesheets/ie6.scss */
.citation_box li.email {
  background: url('/images/icons/ie6/icon_email.png') no-repeat;
}

/* line 193, ../../app/stylesheets/ie6.scss */
.citation_box li.next {
  background: url('/images/icons/ie6/icon_next.png?1373320762') no-repeat 6px left;
}

/* line 194, ../../app/stylesheets/ie6.scss */
.citation_box li.top {
  background: url('/images/icons/ie6/back_to_top.png?1373320762') no-repeat;
}

/* line 195, ../../app/stylesheets/ie6.scss */
.rss {
  background: url('/images/icons/ie6/icon_rss.png?1373320762') no-repeat;
}

/* line 196, ../../app/stylesheets/ie6.scss */
.rss:hover {
  background: url('/images/icons/ie6/icon_rss_hover.png?1373320762') no-repeat;
}

/* line 197, ../../app/stylesheets/ie6.scss */
.subscription {
  background: url('/images/icons/ie6/icon_subscription.png') no-repeat;
}

/* line 198, ../../app/stylesheets/ie6.scss */
.subscription:hover {
  background: url('/images/icons/ie6/icon_subscription_hover.png') no-repeat;
}

/* line 199, ../../app/stylesheets/ie6.scss */
.comments_close {
  background: url('/images/icons/ie6/icon_comment.png?1373320762') no-repeat;
}

/* line 201, ../../app/stylesheets/ie6.scss */
.pagination {
  clear: both;
}

/* line 203, ../../app/stylesheets/ie6.scss */
.vcard .email {
  background: none;
}

/* line 205, ../../app/stylesheets/ie6.scss */
#entries.by_date .back_to_top {
  right: 60px;
}

/* line 207, ../../app/stylesheets/ie6.scss */
#entries .shorter_url {
  float: left;
  word-break: break-all;
}

/******************************

SECTION

******************************/
/* line 218, ../../app/stylesheets/ie6.scss */
.three_col_list.comments .group h3 {
  width: 100px;
}

/* line 219, ../../app/stylesheets/ie6.scss */
#articles_published_by_day .tabs-nav li.tabs-selected {
  background: url('/images/icons/ie6/section_nav_selected.png?1373320762') no-repeat 140px top;
}

/* line 220, ../../app/stylesheets/ie6.scss */
#articles_published_by_day .tabs-nav li.search a {
  background: url('/images/icons/ie6/icon_search.png?1373320762') no-repeat;
}

/* line 221, ../../app/stylesheets/ie6.scss */
#articles_published_by_day .tabs-nav li.search a:hover {
  background: url('/images/icons/ie6/icon_search_hover.png?1373320762') no-repeat;
}

/******************************

SEARCH

******************************/
/* line 229, ../../app/stylesheets/ie6.scss */
.search_bar {
  height: 55px;
  overflow: visible;
}

/* line 230, ../../app/stylesheets/ie6.scss */
.search_bar #conditions_term {
  margin-left: 10px;
}

/* line 231, ../../app/stylesheets/ie6.scss */
#main .search_bar .formtastic .simple label {
  display: inline;
}

/* line 232, ../../app/stylesheets/ie6.scss */
#toggle_advanced {
  margin-left: 2.55em;
}

/* line 233, ../../app/stylesheets/ie6.scss */
.active_filter_list li .type {
  background: url('/images/icons/ie6/icon_filter_50.png?1373320762') no-repeat;
}

/* line 234, ../../app/stylesheets/ie6.scss */
.result_set .results {
  width: auto;
}

/* line 235, ../../app/stylesheets/ie6.scss */
.events .results {
  width: 500px;
}

/* line 236, ../../app/stylesheets/ie6.scss */
.result_set .row {
  border: none;
}

/* line 237, ../../app/stylesheets/ie6.scss */
.results li {
  margin-bottom: 10px;
}

/* line 240, ../../app/stylesheets/ie6.scss */
.search_bar .add_to_calendar {
  background: url('/images/icons/ie6/add_to_calendar_half.png?1373320762') no-repeat left 3px;
}

/* line 241, ../../app/stylesheets/ie6.scss */
.search_bar .add_to_calendar:hover {
  background: url('/images/icons/ie6/add_to_calendar_half_hover.png?1373320762') no-repeat;
}

/* line 242, ../../app/stylesheets/ie6.scss */
.add_to_calendar {
  background: url('/images/icons/ie6/add_to_calendar.png?1373320762') no-repeat;
}

/* line 243, ../../app/stylesheets/ie6.scss */
.add_to_calendar:hover {
  background: url('/images/icons/ie6/add_to_calendar_hover.png?1373320762') no-repeat;
}

/* line 244, ../../app/stylesheets/ie6.scss */
.icon.download {
  background: url('/images/icons/ie6/download.png?1373320762') no-repeat;
}

/* line 245, ../../app/stylesheets/ie6.scss */
.icon.download:hover {
  background: url('/images/icons/ie6/download_hover.png?1373320762') no-repeat;
}

/* line 246, ../../app/stylesheets/ie6.scss */
.result_set.events .results li.effective_date {
  background: url('/images/icons/ie6/effective.png?1373320762') no-repeat;
}

/* line 247, ../../app/stylesheets/ie6.scss */
.result_set.events .results li.comment_period.closing {
  background: url('/images/icons/ie6/closing.png?1373320762') no-repeat;
}

/* line 248, ../../app/stylesheets/ie6.scss */
.result_set.events .results li.comment_period.opening {
  background: url('/images/icons/ie6/opening.png?1373320762') no-repeat;
}

/* line 249, ../../app/stylesheets/ie6.scss */
.result_set.events .results li.public_meeting {
  background: url('/images/icons/ie6/meeting.png?1373320762') no-repeat;
}

/* line 250, ../../app/stylesheets/ie6.scss */
.icon_money_half_size {
  background: url('/images/icons/ie6/icon_money_50_half.png?1373320762') no-repeat;
  width: 28px;
}

/* line 251, ../../app/stylesheets/ie6.scss */
.icon_environment_half_size {
  background: url('/images/icons/ie6/icon_environment_50_half.png?1373320762') no-repeat;
  width: 21px;
}

/* line 252, ../../app/stylesheets/ie6.scss */
.icon_world_half_size {
  background: url('/images/icons/ie6/icon_world_50_half.png?1373320762') no-repeat;
  width: 21px;
}

/* line 253, ../../app/stylesheets/ie6.scss */
.icon_science-and-technology_half_size {
  background: url('/images/icons/ie6/icon_science_50_half.png?1373320762') no-repeat;
  width: 22px;
}

/* line 254, ../../app/stylesheets/ie6.scss */
.icon_business-and-industry_half_size {
  background: url('/images/icons/ie6/icon_business_50_half.png?1373320762') no-repeat;
  width: 22px;
}

/* line 255, ../../app/stylesheets/ie6.scss */
.icon_health-and-public-welfare_half_size {
  background: url('/images/icons/ie6/icon_health_50_half.png?1373320762') no-repeat;
  width: 14px;
}

/* line 257, ../../app/stylesheets/ie6.scss */
.article_list li.notice {
  background: url('/images/icons/ie6/icon_notice_50.png?1373320762') no-repeat left 4px;
}

/* line 258, ../../app/stylesheets/ie6.scss */
.article_list li.proposed_rule {
  background: url('/images/icons/ie6/icon_proposed_50.png?1373320762') no-repeat left 4px;
}

/* line 259, ../../app/stylesheets/ie6.scss */
.article_list li.rule {
  background: url('/images/icons/ie6/icon_final_50.png?1373320762') no-repeat left 4px;
}

/* line 261, ../../app/stylesheets/ie6.scss */
.regulations .results {
  width: auto;
}

/* line 262, ../../app/stylesheets/ie6.scss */
.regulations .results li {
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 264, ../../app/stylesheets/ie6.scss */
.matching_citation_header {
  background: url('/images/icons/ie6/icon_article.png?1373320762') no-repeat left top;
}

/* line 267, ../../app/stylesheets/ie6.scss */
#main .formtastic .string label,
#main .formtastic .select label {
  display: none;
}

/* line 269, ../../app/stylesheets/ie6.scss */
#main .formtastic .show_labels .selected_agency_list label {
  display: none !important;
}

/* line 273, ../../app/stylesheets/ie6.scss */
#main .formtastic .show_labels .string label,
#main .formtastic .show_labels .select label,
#main .formtastic .row_of_options .type_selector label {
  display: block;
}

/* line 275, ../../app/stylesheets/ie6.scss */
#main .formtastic .exact_date {
  margin-left: 0 !important;
}

/* line 278, ../../app/stylesheets/ie6.scss */
#main .formtastic .exact_year {
  margin-left: 0 !important;
}

/* line 281, ../../app/stylesheets/ie6.scss */
#main .formtastic .range_start {
  margin-left: 0 !important;
}

/* line 284, ../../app/stylesheets/ie6.scss */
.results .metadata {
  zoom: 1;
}

/* line 285, ../../app/stylesheets/ie6.scss */
#main .formtastic .advanced.open {
  display: block;
}

/* line 286, ../../app/stylesheets/ie6.scss */
.errors_header {
  background: url('/images/icons/ie6/icon_errors.png?1373320762') no-repeat left top;
}

/* line 287, ../../app/stylesheets/ie6.scss */
#main .matching_citation_header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* line 292, ../../app/stylesheets/ie6.scss */
#main .matching_citation li {
  border-bottom: 1px solid #eee;
  list-style: none;
  margin-bottom: 10px;
  padding-bottom: 10px;
  zoom: 1;
}

/* line 299, ../../app/stylesheets/ie6.scss */
#main .matching_citation li li {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 305, ../../app/stylesheets/ie6.scss */
#search #content_area p {
  word-wrap: break-word;
}

/******************************

MODAL

******************************/
/* line 317, ../../app/stylesheets/ie6.scss */
#modal,
#disclaimer_modal,
#cfr_citation_modal,
#exit_modal {
  position: absolute;
}

/******************************

BLOG

******************************/
/* line 326, ../../app/stylesheets/ie6.scss */
#wordpress li.bookmark {
  background: url('/images/icons/ie6/blog/bookmark.png?1373320762') no-repeat 23px top;
}

/* line 329, ../../app/stylesheets/ie6.scss */
#wordpress li.email {
  background: url('/images/icons/ie6/blog/email.png?1373320762') no-repeat 23px 3px;
}

/* line 332, ../../app/stylesheets/ie6.scss */
#wordpress li.comments {
  background: url('/images/icons/ie6/blog/comment.png?1373320762') no-repeat 23px top;
}

/* line 335, ../../app/stylesheets/ie6.scss */
#wordpress .meta li.comments a {
  zoom: 1;
}

/* line 338, ../../app/stylesheets/ie6.scss */
#wordpress li.categories {
  background: url('/images/icons/ie6/blog/category.png?1373320762') no-repeat 23px 1px;
}

/* line 341, ../../app/stylesheets/ie6.scss */
#wordpress li.author {
  background: url('/images/icons/ie6/blog/author.png?1373320762') no-repeat 23px 1px;
}

/* line 344, ../../app/stylesheets/ie6.scss */
#wordpress .meta li.author {
  background: url('/images/icons/ie6/blog/author.png?1373320762') no-repeat 0 1px;
}

/* line 347, ../../app/stylesheets/ie6.scss */
#wordpress .meta li.date {
  background: url('/images/icons/ie6/blog/date.png?1373320762') no-repeat 0 1px;
}

/* line 350, ../../app/stylesheets/ie6.scss */
#wordpress li.categories {
  background: url('/images/icons/ie6/blog/date.png?1373320762') no-repeat 23px 1px;
}

/* line 353, ../../app/stylesheets/ie6.scss */
#wordpress li.tags {
  background: url('/images/icons/ie6/blog/tag.png?1373320762') no-repeat 23px 1px;
}

/* line 356, ../../app/stylesheets/ie6.scss */
#wordpress .meta .comment {
  background: url('/images/icons/ie6/blog/comment.png?1373320762') no-repeat 0 0;
}

/* line 359, ../../app/stylesheets/ie6.scss */
.comment-reply-link {
  background: url('/images/icons/ie6/blog/reply.png?1373320762') no-repeat 0 0;
}

/* line 362, ../../app/stylesheets/ie6.scss */
.comment-reply-link:hover {
  background: url('/images/icons/ie6/blog/reply-hover.png?1373320762') no-repeat 0 0;
}

/* line 366, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions .navigation .next,
#wordpress .blog_pagination .newer a {
  background: url('/images/icons/ie6/blog/next.png?1373320762') no-repeat 100% 2px;
}

/* line 370, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions .navigation .next:hover,
#wordpress .blog_pagination .newer a:hover {
  background: url('/images/icons/ie6/blog/next-hover.png?1373320762') no-repeat 0 2px;
}

/* line 374, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions .navigation .prev,
#wordpress .blog_pagination .older a {
  background: url('/images/icons/ie6/blog/prev.png?1373320762') no-repeat 0 2px;
}

/* line 378, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions .navigation .prev:hover,
#wordpress .blog_pagination .older a:hover {
  background: url('/images/icons/ie6/blog/prev-hover.png?1373320762') no-repeat 0 2px;
}

/* line 381, ../../app/stylesheets/ie6.scss */
#wordpress #policy a {
  background: url('/images/icons/ie6/blog/policy.png?1373320762') no-repeat 0 -1px;
}

/* line 384, ../../app/stylesheets/ie6.scss */
#wordpress #policy a:hover {
  background: url('/images/icons/ie6/blog/policy-hover.png?1373320762') no-repeat 0 -1px;
}

/* line 387, ../../app/stylesheets/ie6.scss */
#wordpress #blog-search-term {
  width: 170px;
}

/* line 390, ../../app/stylesheets/ie6.scss */
#wordpress #blog-search-submit {
  background: url('/images/icons/search_button.png?1373320762') no-repeat 0 0;
  border: none;
  cursor: pointer;
  float: left;
  height: 27px;
  text-indent: 9999px;
  margin-left: -1px;
  width: 30px;
  zoom: 1;
}

/* line 402, ../../app/stylesheets/ie6.scss */
#wordpress .article,
#wordpress .comment-meta {
  zoom: 1;
}

/* line 405, ../../app/stylesheets/ie6.scss */
#wordpress .comment .reply {
  position: static;
}

/* line 409, ../../app/stylesheets/ie6.scss */
#wordpress #comments code,
#wordpress #comments .form-allowed-tags {
  display: none;
}

/* line 412, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions li {
  padding-left: 60px;
}

/* line 415, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions li li {
  padding-left: 0;
}

/* line 418, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions .navigation a {
  background-position-x: 23px !important;
}

/* line 421, ../../app/stylesheets/ie6.scss */
#wordpress .meta_actions ul li.comments span {
  left: 23px;
  top: -1px;
}

/*********************
*
* HEADER
*
*********************/
/* line 432, ../../app/stylesheets/ie6.scss */
#header .logos {
  margin: 0 auto !important;
}

/* line 435, ../../app/stylesheets/ie6.scss */
#navigation .subnav {
  left: 0;
}

/* line 438, ../../app/stylesheets/ie6.scss */
#navigation .subnav a {
  background: none;
  display: block;
  padding: 0 10px;
  width: 100%;
}

/* line 444, ../../app/stylesheets/ie6.scss */
#navigation .subnav a:hover {
  background-image: none;
}

/* line 447, ../../app/stylesheets/ie6.scss */
#navigation .home {
  background: url("/images/icons/header/ie6/home-off.gif") no-repeat 10px 8px;
}

/* line 448, ../../app/stylesheets/ie6.scss */
#navigation .home:hover {
  background: url("/images/icons/header/ie6/home-hover.gif") no-repeat 10px 8px;
}

/* line 450, ../../app/stylesheets/ie6.scss */
#navigation .sections {
  background: url("/images/icons/header/ie6/sections-off.gif") no-repeat 10px 8px;
}

/* line 451, ../../app/stylesheets/ie6.scss */
#navigation .sections:hover {
  background: url("/images/icons/header/ie6/sections-hover.gif") no-repeat 10px 8px;
}

/* line 453, ../../app/stylesheets/ie6.scss */
#navigation .browse {
  background: url("/images/icons/header/ie6/browse-off.gif") no-repeat 10px 8px;
}

/* line 454, ../../app/stylesheets/ie6.scss */
#navigation .browse:hover {
  background: url("/images/icons/header/ie6/browse-hover.gif") no-repeat 10px 8px;
}

/* line 456, ../../app/stylesheets/ie6.scss */
#navigation .policy {
  background: url("/images/icons/header/ie6/policy-off.gif") no-repeat 10px 8px;
}

/* line 457, ../../app/stylesheets/ie6.scss */
#navigation .policy:hover {
  background: url("/images/icons/header/ie6/policy-hover.gif") no-repeat 10px 8px;
}

/* line 459, ../../app/stylesheets/ie6.scss */
#navigation .learn {
  background: url("/images/icons/header/ie6/learn-off.gif") no-repeat 10px 8px;
}

/* line 460, ../../app/stylesheets/ie6.scss */
#navigation .learn:hover {
  background: url("/images/icons/header/ie6/learn-hover.gif") no-repeat 10px 8px;
}

/* line 462, ../../app/stylesheets/ie6.scss */
#navigation .blog {
  background: url("/images/icons/header/ie6/blog-off.gif") no-repeat 10px 8px;
}

/* line 463, ../../app/stylesheets/ie6.scss */
#navigation .blog:hover {
  background: url("/images/icons/header/ie6/blog-hover.gif") no-repeat 10px 8px;
}

/* line 465, ../../app/stylesheets/ie6.scss */
#navigation .search_btn {
  background: url("/images/icons/header/ie6/search-off.gif") no-repeat 0 0;
}

/* line 466, ../../app/stylesheets/ie6.scss */
#navigation .search_btn:hover {
  background: url("/images/icons/header/ie6/search-hover.gif") no-repeat 0 0;
}

/******************************

SECTIONS

******************************/
/* line 475, ../../app/stylesheets/ie6.scss */
#sections a.subscription {
  top: -28px;
}

/* line 478, ../../app/stylesheets/ie6.scss */
#featured-searches, #other_searches {
  margin-left: -35px;
}

/******************************

CANNED SEARCH SHOW

******************************/
/* line 487, ../../app/stylesheets/ie6.scss */
.wf-active #canned_searches a.subscription {
  top: -6px;
}

/* line 490, ../../app/stylesheets/ie6.scss */
#frequency-header {
  width: 140px;
}

/* line 493, ../../app/stylesheets/ie6.scss */
ul#frequency-spark-lines {
  width: 789px;
}

/******************************

PUBLIC INSPECTION

******************************/
/* line 503, ../../app/stylesheets/ie6.scss */
#entries span.pdf.small {
  background: url('/images/icons/ie6/icon_pdf_small.png?1373320762') no-repeat left 1px;
}

/* line 506, ../../app/stylesheets/ie6.scss */
#entries #content_area.public_inspection {
  padding-right: 10px;
}

/* line 509, ../../app/stylesheets/ie6.scss */
#entries #meta_toc .aside_box ul {
  position: relative;
}

/* line 512, ../../app/stylesheets/ie6.scss */
#entries span.new_document {
  background: url('/images/icons/ie6/new_badge_icon.png?1373320762') no-repeat left -1px;
}

/* line 515, ../../app/stylesheets/ie6.scss */
span.permalink {
  background: url('/images/icons/ie6/icon_permalink.png?1373320762') no-repeat left 1px;
}

/* line 518, ../../app/stylesheets/ie6.scss */
span.permalink:hover {
  background: url('/images/icons/ie6/icon_permalink_hover.png?1373320762') no-repeat left 1px;
}

/* line 521, ../../app/stylesheets/ie6.scss */
#content_area.public_inspection .info_box {
  background: url('/images/icons/ie6/info_circle_large.png?1373320762') no-repeat 10px 30px;
}
