/* line 1, ../../app/stylesheets/ie7.scss */
div.title span {
  line-height: 1.1em;
  position: relative;
  top: -5px;
}

/******************************

SECTIONS

******************************/
/* line 12, ../../app/stylesheets/ie7.scss */
#sections div.title span {
  top: -38px;
}

/* line 15, ../../app/stylesheets/ie7.scss */
#sections a.subscription {
  top: -44px;
  z-index: 600;
  display: inline-block;
}

/* line 20, ../../app/stylesheets/ie7.scss */
#sections .title_icon {
  left: -249px;
}

/******************************

CANNED SEARCH SHOW

******************************/
/* line 30, ../../app/stylesheets/ie7.scss */
.wf-active #canned_searches a.subscription {
  top: -6px;
}

/* line 33, ../../app/stylesheets/ie7.scss */
#frequency-header {
  width: 140px;
}

/* line 36, ../../app/stylesheets/ie7.scss */
ul#frequency-spark-lines {
  width: 789px;
}

/******************************

AGENCY SHOW

******************************/
/* line 45, ../../app/stylesheets/ie7.scss */
#agency_description .header.with_image h1 {
  float: left;
}

/******************************

NAVIGATION

******************************/
/* line 52, ../../app/stylesheets/ie7.scss */
#navigation .previewable .subnav .left_column {
  float: left;
  margin-right: 3px;
}

/* line 56, ../../app/stylesheets/ie7.scss */
#navigation .previewable .right_column form {
  margin-left: 10px;
}

/* dates */
/* line 58, ../../app/stylesheets/ie7.scss */
#navigation .preview .daily_stats li {
  float: left;
}

/* line 59, ../../app/stylesheets/ie7.scss */
#navigation .previewable .right_column .fr_stats h2 {
  position: relative;
}

/* line 60, ../../app/stylesheets/ie7.scss */
#navigation .previewable .right_column .fr_stats h2 .supplemental {
  position: absolute;
  right: 0px;
  top: 2px;
}

/* line 66, ../../app/stylesheets/ie7.scss */
#navigation .previewable .right_column .fr_stats .statistics li,
#navigation .previewable .right_column .fr_stats .statistics li a {
  float: left;
  line-height: 13px;
}

/* line 71, ../../app/stylesheets/ie7.scss */
#navigation .previewable .mini_document_types li,
#navigation .previewable .mini_document_types li a {
  float: left;
}

/* line 72, ../../app/stylesheets/ie7.scss */
#navigation .previewable .mini_document_types a {
  line-height: 13px;
  padding-top: 0px;
}

/* public inspection */
/* line 77, ../../app/stylesheets/ie7.scss */
#navigation .previewable .right_column #public-inspection-browse-preview h2 {
  position: relative;
}

/* line 78, ../../app/stylesheets/ie7.scss */
#navigation .previewable .right_column #public-inspection-browse-preview h2 .secondary {
  position: absolute;
  right: -5px;
  font-size: 11px;
  top: 2px;
}

/* executive orders */
/* line 85, ../../app/stylesheets/ie7.scss */
#navigation .previewable .pres_holder {
  clear: both;
}

/* line 86, ../../app/stylesheets/ie7.scss */
#navigation .previewable .pres_holder .photo {
  float: left;
  margin-top: 0;
  clear: both;
}

/* line 91, ../../app/stylesheets/ie7.scss */
#navigation .previewable .pres_holder .pres_details {
  float: left;
}

/* line 92, ../../app/stylesheets/ie7.scss */
#navigation .previewable .pres_holder ol.children li {
  float: left;
}

/* blog */
/* line 94, ../../app/stylesheets/ie7.scss */
#navigation .previewable #blog-browse-preview h1 {
  margin-top: 0px;
}

/* line 95, ../../app/stylesheets/ie7.scss */
#navigation .view_all {
  top: 10px;
}

/* line 96, ../../app/stylesheets/ie7.scss */
#navigation .previewable #blog-browse-preview ul .post_content a {
  top: -27px;
  line-height: 14px;
}
